body { 
    background-color: black;
    color: white;
    font-size: 16px;
}

header {
    background-color: beige;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    line-height: 60px;
    color: beige;
    font-size: 2em;
} 
h2 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: brown;
    font-size: 1.5em;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

form {
    vertical-align: center;
    max-width: 500px;
    margin: 30px;
    padding: 40px;
    border: 10px solid gray;
    background-color: whitesmoke;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

label {
    display:inline-block;
    max-width: 180px;
    width: 100%;
    text-align: right;
}

.kuld {
    text-align: right;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid beige;
    border-radius: 20px;
    font-size: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: beige;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: brown;
}

img {
    max-width: 100%;
    height: auto;
    width: 1000px;
}

@media (max-width: 360px) {
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        text-align: center;
    }
    nav ul li a {
        padding: 0.5em 1em;
    }

    .container p {
        font-size: 0.5em;
    }
}

@media (prefers-color-scheme: dark) {
    body { 
        background-color: black;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body { 
        background-color: white;
        color: black;
    }
    header {
        background-color: brown;
    }
    h1 {
        color: brown;
    }        
    nav ul {
        background-color: brown;
    }
    nav ul li a {
        color: white;

    }
    footer {
        background-color: brown;
        text-align: right;
    }
}

footer {
    background-color: beige;
    text-align: right;
}